<h1>Shelters</h1>
<p><a href="/shelters/new">New Shelter</a></p>


<%@shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <p1><%= shelter.address %></p1>
  <p1><%= shelter.city %></p1>
  <p1><%= shelter.state %></p1>
  <p1><%= shelter.zip %></p1>
  <p><a href="/shelters/<%= shelter.id %>/edit">Update Shelter</a></p>

<% end %>
