<h1> Shelter Info</h1>

<h3><%= @shelters.name %></h3>
<p><%= @shelters.address %></p>
<p><%= @shelters.city %></p>
<p><%= @shelters.state %></p>
<p><%= @shelters.zip %></p>
<p><a href="/shelters/edit">New Shelter</a></p>
