<h1> Shelter Info</h1>
<p><a href="/shelters/">Shelter Index</a></p>


<h3><%= @shelters.name %></h3>
<p><%= @shelters.address %></p>
<p><%= @shelters.city %></p>
<p><%= @shelters.state %></p>
<p><%= @shelters.zip %></p>
<p><a href="/shelters/<%= @shelters.id %>/edit">Update Shelter</a></p>
<form action="/shelters/<%= @shelters.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
