
<h1>Index</h1>

<ul>
    <li><a href="/shelters"> Shelter Index</a></li>
</ul>



<% @pets.each do |pet| %>
<ul>
  <li><h3><a href=/pets/<%= pet.id %>"><%= pet.name %></a></h3></li>
  <li><p1><%= pet.age %></p1></li>
  <li><p1><%= pet.image %></p1></li>
  <li><p1><%= pet.sex %></p1></li>
  <li><p1><a href="/shelters/<%= pet.shelter_id%>"</a>Shelter</p1></li>
</ul>




  <p><a href="/pets/<%= pet.id %>/edit" >Update Pet</a></p>
  <form action="/pets/<%= pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Pet"/>
  </form>

<% end %>
