<ul>
    <li><a href="/shelters"> Shelter Index</a></li>
    <li><a href="/pets"> Pets Index</a></li>
</ul>


<ul>
  <li><h3>Pet: <%=@pet.name %></h3></li>
  <li><p1>Picture: <%=@pet.image %></p1></li>
  <li><p1>Description: <%=@pet.description %></p1></li>
  <li><p1>age: <%=@pet.age %></p1></li>
  <li><p1>sex: <%=@pet.sex %></p1></li>
  <li><p1>Adopted?: <%=@pet.adoption_status %></p1></li>
</ul>

<p><a href="/pets/<%= @pet.id %>/edit" >Update Pet</a></p>
<form action="/pets/<%= @pet.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Pet"/>
</form>
